<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="container min-h-screen max-w-none bg-[url('images/mentalHealth.jpg')] bg-center bg-cover px-20 py-5">
 <nav class="flex items-center">
     <a href="#">
    <img src="images/logo.png" height="800" width="120"></a>
    <ul class="flex-1 text-right">
        <li class="list-none inline-block px-5"><a href="#" class="text-lime-500 px-2">Home</a></li>
        <li class="list-none inline-block px-5"><a href="#" class="text-lime-500 px-2">About</a></li>
        <li class="list-none inline-block px-5"><a href="#" class="text-lime-500 px-2">Contacts</a></li>
        <li class="list-none inline-block px-5"><a href="#" class="text-lime-500 px-2">Services</a></li>

    </ul>
 </nav>
  <div class="text-lime-500 mt-64 max-w-xl ">
   <h1 class="text-6xl font-semibold leading-normal">Your path to Mental Wellness:</h1>
  <p> "The strongest people are not those who show strength infront of us
    but those who win battles we know nothing about"</p>
    <div class="">
    <a href="#" class="bg-orange-200 rounded-3xl py-3 px-8 font-medium inline-block mr-4 hover:bg-transparent hover:border-orange-200 hover:text-lime duration-400 hover:border border border-transparent">Continue</a>
    <a href="#" class=" px-20 ">Back<span class="text-lg inline-block rotate-180">&#10151</span></a>
    </div>
  </div>

    </div>
    
</body>
</html>